[Unit]
Description=Generate timelapse GIF and post to Twitter
OnFailure=unit-status-telegram@%n.service

[Service]
Type=oneshot
ExecStart=npm run post
WorkingDirectory=$(pwd)
