[Unit]
Description=Capture UWB timelapse image once every 5 minutes

[Timer]
Unit=uwb-timelapse-capture.service
# Every 8 minutes from 4AM to 11PM PDT/PST
OnCalendar=04..22:00/08:00 America/Los_Angeles

[Install]
WantedBy=timers.target
